# Ignore python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore saved models
models/

# Ignore saved weights
weights/

# Ignore saved logs
logs/

# Ignore saved results
results/
